.nav
  %h3.nav-title Menu
  %a.nav-close{href: '#'}
    %span.hidden Close
  %ul
    - navigation.try(:each) do |label, href|
      - css_class = %W(nav-#{label.parameterize})
      - css_class << "nav-current" if current_page.url == href
      %li{class: css_class.join(' ')}
        %a{href: href}= label
    %a.icon-twitter{href: feed_path, style:"position: absolute; bottom: 10px; text-decoration: none;"}
    %a.icon-facebook{href: "https://www.facebook.com/hopelessroamantic/", style:"position: absolute; bottom: 10px; left: 50px; text-decoration: none;"}
    %a{href: "https://www.youtube.com/channel/UCuF6MChVARasFfMpXlBcIjQ/featured?view_as=subscriber", style:"position: absolute; bottom: 11px; left: 78px; text-decoration: none;", target: "_blank"}
      %i.fab.fa-youtube
%span.nav-cover
