---
pageable: true
per_page: 6
cover: ryan-jumping-excited.jpg
---

%header.main-header.author-head{cover}
  %nav.main-nav.overlay.clearfix
    - if blog_settings.logo.present?
      %a.blog-logo{href: home_path}
        = image_tag blog_settings.logo, alt: blog_settings.name
    - if blog_settings.navigation
      %a.menu-button.icon-menu{href: '#'}
        %span.word Menu
.sign-up{style: "background-color: white;"}
  %h2{style: "margin-bottom: 50px;"} Get in Touch with The Hopeless Roamantic!
  .form-div{style: "width: 300px; margin: 0 auto;"}
    %form#contact-form{:method => "POST", :'data-netlify' => "true", :name => "contact-form"}
      %p{style: "text-align: left; width: 100%;"}
        %label
          Name
          %input.email2{:name => "name", :type => "text"}/
      %p{style: "text-align: left; width: 100%;"}
        %label
          Email
          %input.email2{:name => "email", :type => "text", :id => "email-entry"}/
      %p{style: "text-align: left; width: 100%;"}
        %label
          Message
          %textarea.email2{:name => "message", :cols => "30", :rows => "10", style: "height: 100px;"}
      %input.btn-submit{:type => "submit", :value => "Send It!"}/
      %p#success-message
