---
pageable: true
per_page: 4
cover: india2.jpg
---

%header.main-header{cover}
  %nav.main-nav.overlay.clearfix
    - if blog_settings.logo.present?
      %a.blog-logo{href: home_path}
        = image_tag blog_settings.logo, alt: blog_settings.name
    - if blog_settings.navigation
      %a.menu-button.icon-menu{href: '#'}
        %span.word Menu
  .vertical
    / .main-header-content.inner
    /   %h1.page-title= blog_settings.name
    /   %h2.page-description= blog_settings.description
  %a.scroll-down.icon-arrow-left{href: '#content', data: {offset: '-45'}}
    %span.hidden Scroll Down

%section.author-profile.inner
  %h1.author-title Get Hopelessly Lost in this Incredible World With Me
  %br/
  = image_tag "the-hopeless-roamantic-heart-02.png", height: '150', class: 'heart'
  .travel-filter{style: "background-color: white; margin: 50px 0;"}
    %h3 What do you want to see?
    .form-div{style: "width: 300px; margin: 0 auto;"}
      %form#travel-form{:method => "get", :name => "travelType", action: "/"}
        %p{style: "text-align: left; width: 100%;"}
          %label
            %select#travel-type.travel-style{:name => "travel", :onchange => "changeAction()"}
              %option{:value => "", disabled: true, selected: true} Select Here
              %option{:value => "destinations"} Destinations
              %option{:value => "inspiration"} Inspiration
              %option{:value => "stories"} Stories
              %option{:value => "tips"} Tips
    .country-form{style: "width: 300px; margin: 0 auto;"}
  / .map
  /   = partial('shared/map')
%main#content.content{role: :main}
  %h3.author-title{style: "text-align: center;"}= "Latest Adventures"
  = partial('shared/page_articles',
            locals: { page_articles: page_articles, paginate: paginate })

.video-grid
  %iframe.video-1{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/6CpjDJQbhEA", :width => "100%"}
  %iframe.video-2{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/YYYDIgaD13g", :width => "100%"}
  %iframe.video-3{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/QhSMcv_uaZ8", :width => "100%"}


.sign-up
  %h2 Subscribe
  %p Are you the type to get lost in travel planning at work? If you need some off-the-beaten-path travel inspiration, subscribe below for stories, tips and more. I promise I won't overload your mailbox with bullshit.
  %form#email-form{:method => "POST", :'data-netlify' => "true", name: "email-form"}
    %input.email{:name => "email", :type => "text", :id => "email-entry"}/
    %input.btn-submit{:type => "submit", :value => "Subscribe"}/
  %p#success-message







.elfsight-app-8f530655-f193-4f52-8ca9-0abb6fff7345

%script{src: 'https://apps.elfsight.com/p/platform.js', defer: "true"}



