---
pageable: true
per_page: 6
cover: trailer.jpg
---

%header.main-header{cover}
  %nav.main-nav.overlay.clearfix
    - if blog_settings.logo.present?
      %a.blog-logo{href: home_path}
        = image_tag blog_settings.logo, alt: blog_settings.name
    - if blog_settings.navigation
      %a.menu-button.icon-menu{href: '#'}
        %span.word Menu
  .vertical
    / .main-header-content.inner
    /   %h1.page-title= blog_settings.name
    /   %h2.page-description= blog_settings.description
  %a.scroll-down.icon-arrow-left{href: '#content', data: {offset: '-45'}}
    %span.hidden Scroll Down


%main#content.content{role: :main}
  = partial('shared/page_articles',
            locals: { page_articles: page_articles, paginate: paginate })
.map{style: "height: 50vh"}
  = partial('shared/map')
.elfsight-app-8f530655-f193-4f52-8ca9-0abb6fff7345

%script{src: 'https://apps.elfsight.com/p/platform.js', defer: "true"}



